* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/Koenigsegg.png');
  background-color: #312b2b;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40% 100%;
  background-position: left top;
  color: #ffffff;
}

element.style {
  background-color: rgb(49, 43, 43);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 6%;
  width: 40%;
  background-color: #2e2727ab;
  color: white;
}

#main {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
}

div {
  display: block;
  unicode-bidi: isolate;
}

p {
  font-size: 103%;
  text-align: left;
}

#body-heading {
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #130d0d;
  content: '|';
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

#body-intro {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 48%;
  padding: 2px 25px 2px 2px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-y: hidden;
  transition: 0.5s ease;
  padding-top: 60px;
}
