* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/Koenigsegg.png');
  background-color: #312b2b;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 47% 100%;
  background-position: left top;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* Mobile*/
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-size: contain;
    background-position: top left;
    padding-top: 450px;
  }
}

h3 {
  font:
    20px 'Lato',
    sans-serif;
}

element.style {
  background-color: rgb(49, 43, 43);
}

.footer {
  position: fixed;
  font-size: small;
  left: 150px;
  bottom: 0;
  height: 6%;
  width: 47%;
  background-color: none;
  color: white;
}

#main {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
}

div {
  display: block;
  unicode-bidi: isolate;
}

p {
  font-size: 120%;
  text-align: left;
  line-height: 1.1;
}

#body-heading {
  font-style: normal;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

#header-container {
  display: right;
  justify-content: space-between;
  align-items: right;
  padding: 10px 20px;
  background-color: white;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #130d0d;
  content: '|';
}
ul.breadcrumb li a {
  color: #f9f9fa;
  text-decoration: none;
}

#body-intro {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 48%;
  padding: 2px 25px 2px 2px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-y: hidden;
  transition: 0.5s ease;
  padding-top: 60px;
  text-size-adjust: 50%;
  font-size: 20px;
}
